input.ng-invalid.ng-touched,
textarea.ng--invalid.ng-touched{
    border: 1px solid red;
}
.form-container{
    display: flex;
    flex-direction: column;
}
img.img-responsive {
    width: 50%;
}
.ingredient-container{
    margin-top: 10px;
    display: flex;
}