<div class="form-container">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" formControlName="name">
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="imagePath">Url image</label>
                    <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
                </div>
            </div>

            <div class="col-xs-12">
                <img [src]="imagePath.value" class="img-responsive">
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" id="description" class="form-control" rows="6"
                        formControlName="description"></textarea>
                </div>
            </div>

            <div class="col-xs-12" formArrayName="ingredients">
                <div class="ingredient-container" *ngFor="
                let ingredientCtrl of recipeForm.get('ingredients')?.controls; let i = index"
                    [formGroupName]="i">
                    <div class="col-xs-8 mr-2">
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="col-xs-2 mr-2">
                        <input type="number" class="form-control" formControlName="amount">
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
                    </div>
                </div>
            </div>
            <hr>

            <div class="col-xs-12 form-group">
                <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add
                    ingredient</button>
            </div>

            <div class="col-xs-12">
                <button type="submit" class="btn btn-success mr-2" [disabled]="!recipeForm.valid">Save</button>
                <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>